<h4 class="ui center aligned medium icon header">
  <i class="circular red coffee icon"></i>
  Sign Up for Cody's Real-Time Messaging Application
</h4>

<div class="column">
  <%= form_with(model: @user, html: {class: "ui form", role: "form"}, local: true) do |f| %>
    <div class="field">
      <%= f.label :username, "Username" %>
      <div class="ui left icon input">
        <%= f.text_field :username, placeholder: "Username" %>
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <%= f.label :password, "Password" %>
      <div class="ui left icon input">
        <%= f.password_field :password, placeholder: "Password" %>
        <i class="lock icon"></i>
      </div>
    </div>
    <%= f.button "Sign Up", class: "ui red submit button" %>
  <% end %>
</div>